.rte {
  width: 90%;
  max-width: 681px;
  height: auto;
  margin: 0 auto;
}
p {
  line-height: 1.75;
}
td {
  border: none !important;
  vertical-align: top;
}
.us-dollar tr td:first-child {
  width: 37.4853% !important;
}
.content-for-layout {
  margin-top: 20rem;
}
h1 {
  font-size: 40px;
  line-height: 0.9;
  text-align: center;
  margin-bottom: 6rem !important;
}
table:not([class]) {
  box-shadow: none !important;
}
@media screen and (max-width: 768px) {
  .rte {
    width: 100%;
    height: auto;
    padding: 15px 0 60px;
  }
  h1 {
    font-size: 24px !important;
    line-height: 1.1 !important;
    margin-bottom: 35px !important;
  }
}
